.d_none {
    display: none !important;
}


.canvas-frame {
    position: relative;
    display: inline-block;
    padding: 32px;
    background:
        url('./assets/img/game-ui-pixel-art/1 Frames/Frame_tile_05.png') top left no-repeat,
        url('./assets/img/game-ui-pixel-art/1 Frames/Frame_tile_06.png') top right no-repeat,
        url('./assets/img/game-ui-pixel-art/1 Frames/Frame_tile_13.png') bottom left no-repeat,
        url('./assets/img/game-ui-pixel-art/1 Frames/Frame_tile_14.png') bottom right no-repeat,
        url('./assets/img/game-ui-pixel-art/1 Frames/Frame_tile_01.png') top repeat-x,
        url('./assets/img/game-ui-pixel-art/1 Frames/Frame_tile_09.png') left repeat-y,
        url('./assets/img/game-ui-pixel-art/1 Frames/Frame_tile_02.png') right repeat-y,
        url('./assets/img/game-ui-pixel-art/1 Frames/Frame_tile_10.png') bottom repeat-x;

    background-size:
        32px 32px,
        32px 32px,
        32px 32px,
        32px 32px,
        calc(100% - 64px) 32px,
        32px calc(100% - 64px),
        32px calc(100% - 64px),
        calc(100% - 64px) 32px;
}














