@media (min-width:1400px) {
    #game_over_logo_responsiv {
        display: none;
    }

    #win_logo_responsiv {
        display: none;
    }
}


@media (max-width:1400px) {
    .start-screen header.animate {
        transform: translateY(-620px) scale(1);
        opacity: 1;
    }

    header {
        display: none;
    }

    .start-screen header.animate {
        transform: translateY(-320px) scale(1);
        opacity: 1;
    }

    main {
        height: auto;
        justify-content: center;
    }
}


@media (max-width:1024px) {
    #mobile_buttons {
        display: flex;
    }

    .controls-main {
        display: none;
    }

    .controls-responsiv {
        display: block;
    }
}

@media only screen and (max-width: 720px) {

    #start_screen,
    #fullscreen,
    #menu_screen,
    #canvas,
    #game_over_screen,
    #win_screen,
    main {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .overlay {
        height: -webkit-fill-available;
        width: -webkit-fill-available;
    }

    #start_screen,
    #fullscreen,
    #menu_screen,
    #canvas,
    #game_over_screen,
    #win_screen,
    main {
        max-width: -webkit-fill-available;
    }

    #fullscreen {
        background: none;
        padding: 0;
    }

    #new_game_button {
        bottom: 64px;
    }

    #fullscreen_button {
        right: 0;
        bottom: 0;
    }

    #win_fade_overlay {
        position: fixed;
        width: 100% !important;
        height: 100% !important;
        top: 0 !important;
        left: 0 !important;
    }

    .dialog {
        display: flex;
        max-width: 90%;
        max-height: 90%;

    }

    .dialog-body {
        overflow-y: auto;
        flex: 1;
        min-height: 0;
    }

    .game-over-screen,
    .win-screen {
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
        width: 100vw !important;
    }

    :fullscreen #game_over_screen,
    :-webkit-full-screen #game_over_screen,
    :fullscreen #start_screen,
    :fullscreen #menu_screen,
    :fullscreen #canvas,
    :fullscreen #win_screen,
    :fullscreen #win_fade_overlay {
        width: 100vw;
        height: 100lvh;
    }

    #mobile_buttons {
        position: absolute;
        bottom: 8px;
        border: none;
        padding-left: 64px;
        width: -webkit-fill-available;
        padding-right: 64px;
    }
}


@media only screen and (max-height: 480px) {

    #start_screen,
    #fullscreen,
    #menu_screen,
    #canvas,
    #game_over_screen,
    #win_screen,
    main {
        height: 100vh;
        height: 100lvh;
    }

    #fullscreen {
        background: none;
        padding: 0;
    }

    #new_game_button {
        bottom: 64px;
    }

    #fullscreen_button {
        right: 0;
        bottom: 0;
    }

    #exit_fullscreen_button {
        right: 0;
        bottom: 0;
    }

    #win_fade_overlay {
        position: fixed;
        width: 100% !important;
        height: 100% !important;
        top: 0 !important;
        left: 0 !important;
    }

    .dialog {
        display: flex;
        max-width: 90%;
        max-height: 90%;
    }

    .dialog-body {
        overflow-y: auto;
        flex: 1;
        min-height: 0;
    }

    .game-over-screen,
    .win-screen {
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
        width: 100vw !important;
    }

    :fullscreen #game_over_screen,
    :-webkit-full-screen #game_over_screen,
    :fullscreen #start_screen,
    :fullscreen #menu_screen,
    :fullscreen #canvas,
    :fullscreen #win_screen,
    :fullscreen #win_fade_overlay {
        width: 100vw;
        height: 100dvh;
    }

    #mobile_buttons {
        position: absolute;
        bottom: 8px;
        border: none;
        padding-left: 64px;
        width: -webkit-fill-available;
        padding-right: 64px;
    }
}


@media only screen and (max-height: 360px) {
    #new_game_button {
        bottom: 32px;
    }
}


@media only screen and (max-height: 330px) {
    .menu-screen {
        justify-content: space-between;
    }

    .menu-div {
        margin: 0;
        margin-bottom: 32px;
    }
}

/* Nur Geräte mit Maus oder „fine pointer“ */
@media (pointer: fine) {
    #mobile_buttons {
        display: none; /* Buttons für Touch nicht relevant */
    }
}

/* Nur Geräte mit Touch oder „coarse pointer“ */
@media (pointer: coarse) {
    #mobile_buttons {
        display: flex; /* Buttons anzeigen */
    }
}