.start-screen {
    position: relative;
    height: 480px;
    width: 720px;
    background-image: url('../assets/img/platformer-pixel-art-tileset/Background/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.start-screen header {
    padding-left: 8px;
    background-image: url('../assets/img/game-ui-pixel-art/5 Logo/Logo.png');
    background-size: cover;
    background-position: center;
    width: 424px;
    height: 192px;
    position: absolute;
    top: 40px;
    transform: translateX(0);
    transition: all 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #de3440;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}


.start-screen header.animate {
    transform: translateY(-320px) scale(1);
    opacity: 1;
}

.start-screen button {
    transition: transform 0.2s ease;
    margin-left: 8px;
    position: absolute;
    bottom: 140px;
    cursor: pointer;
    width: 128px;
    height: 64px;
    font-family: 'Planes';
    border: none;
    color: white;
    font-size: 16px;
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    background-color: #667291;
    background-image:
        url('../assets/img/game-ui-pixel-art/1 Frames/Frame_tile_49.png'),
        url('../assets/img/game-ui-pixel-art/1 Frames/Frame_tile_51.png'),
        url('../assets/img/game-ui-pixel-art/1 Frames/Frame_tile_52.png'),
        url('../assets/img/game-ui-pixel-art/1 Frames/Frame_tile_54.png'),
        url('../assets/img/game-ui-pixel-art/1 Frames/Frame_tile_50.png'),
        url('../assets/img/game-ui-pixel-art/1 Frames/Frame_tile_55.png'),
        url('../assets/img/game-ui-pixel-art/1 Frames/Frame_tile_56.png'),
        url('../assets/img/game-ui-pixel-art/1 Frames/Frame_tile_53.png');

    background-position:
        top left,
        top right,
        bottom left,
        bottom right,
        top center,
        center left,
        center right,
        bottom center;

    background-repeat:
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat,
        repeat-x,
        repeat-y,
        repeat-y,
        repeat-x;
}


.start-screen button:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
}


.character-animation {
    width: 50px;
    height: 50px;
    background-image: url('../assets/img/pixel-art-tiny-hero-sprites/1 Pink_Monster/Pink_Monster_Walk_6.png');
    /* dein Lauf-Sprite */
    background-size: 300px;
    /* (6 Frames * 50px Breite) */
    position: absolute;
    bottom: 32px;
    left: 0;
}

.ground {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 32px;
    background-image: url('../assets/img/platformer-pixel-art-tileset/Tiles/Tileset/TileSet_02.png');
    background-repeat: repeat-x;
    background-size: 32px 32px;
}